<nav class="bg-[#FF4D00] p-1 flex items-center justify-between">
  <div class="text-xl font-bold">
    <a href="#"></a>
  </div>
  <div class="flex items-center space-x-4">
    <a class="flex items-center text-white font-sans normal-case p-2 pl-4 pr-4 rounded-md border border-transparent hover:bg-[#F5956C] hover:border-[#FF4D00] hover:font-medium" routerLink="/inicio" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
      <i-lucide class="mr-2" [img]="User"></i-lucide>
      <p class="font-bold">Usuario</p>
    </a>
  </div>
</nav>