<div class="flex flex-col bg-[#272121] text-white p-6">
  <h1 class="text-2xl font-bold mb-2">Test</h1>

  <hr class="mt-2 mb-4 h-0.5 border-t-0 bg-neutral-100 dark:bg-white/10" />

  <div class="bg-[#443737] p-4 rounded-lg flex justify-between items-center mb-6">
    <div>
      <h2 class="text-lg font-semibold">Selección femenina</h2>
    </div>
    <div class="flex space-x-8">
      <div>
        <p class="text-sm">Participantes</p>
        <p class="text-sm font-semibold">15</p>
      </div>
      <div>
        <p class="text-sm">Horario</p>
        <p class="text-sm font-semibold">L - M: 18:00-20:00</p>
      </div>
      <div>
        <p class="text-sm">Último entreno</p>
        <p class="text-sm font-semibold">24/01/2023</p>
      </div>
      <div>
        <p class="text-sm">Ranking</p>
        <p class="text-sm font-semibold">Usuario con mayores resultados</p>
      </div>
    </div>
  </div>

  <div class="flex space-x-8">
    <div class="bg-[#443737] p-6 rounded-lg flex flex-col items-center justify-center space-y-2">
      <i-lucide class="w-[6em] h-[6em]" [img]="NotepadText"></i-lucide>
      <p class="text-center font-semibold">Test</p>
    </div>
    <div class="flex flex-col space-y-4">
      <button class="bg-[#FF4D00] hover:bg-orange-700 text-white py-2 px-8 rounded-full font-semibold"
        routerLink="/testfuerza"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">Fuerza</button>
      
      <!-- TODO: redireccionar cuando se creen esos test -->
      <button class="bg-[#FF4D00] hover:bg-orange-700 text-white py-2 px-8 rounded-full font-semibold"
        routerLink="/inicio"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">Salto</button>
      
        <!-- TODO: redireccionar cuando se creen esos test -->
      <button class="bg-[#FF4D00] hover:bg-orange-700 text-white py-2 px-8 rounded-full font-semibold"
        routerLink="/inicio"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">Flexibilidad</button>
      
      <button class="bg-[#FF4D00] hover:bg-orange-700 text-white py-2 px-8 rounded-full font-semibold"
        routerLink="/testvelocidad"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">Velocidad</button>
    </div>
  </div>
</div>
