<div class="bg-[#272121] text-white p-8 rounded-lg">
  <h1 class="text-3xl font-bold mb-4">Mi perfil de entreno</h1>

  <hr class="mt-2 mb-4 h-0.5 border-t-0 bg-neutral-100 dark:bg-white/10" />
  
  <div class="bg-[#443737] p-4 rounded-lg flex justify-between items-center mb-6">
    <div>
      <h2 class="text-lg font-semibold">Sofia Rojas</h2>
    </div>
    <div class="flex space-x-8">
      <div>
        <p class="text-sm">Grupo</p>
        <p class="text-sm font-semibold">Selección femenina</p>
      </div>
      <div>
        <p class="text-sm">Horario</p>
        <p class="text-sm font-semibold">L - M: 18:00-20:00</p>
      </div>
      <div>
        <p class="text-sm">Último entreno</p>
        <p class="text-sm font-semibold">24/01/2023</p>
      </div>
      <div>
        <p class="text-sm">Ranking Test Velocidad</p>
        <p class="text-sm font-semibold">Verónica Perez</p>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-4">
    <a class="bg-[#443737] p-6 rounded-lg flex flex-col items-center justify-center space-y-2 hover:bg-[#FF4D00] hover:border-[#FF4D00]" routerLink="/equipo" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
      <i-lucide class="w-[6em] h-[6em]" [img]="Glasses"></i-lucide>
      <p class="text-center font-semibold">Recomendación de Test</p>
    </a>

    <a class="bg-[#443737] p-6 rounded-lg flex flex-col items-center justify-center space-y-2 hover:bg-[#FF4D00] hover:border-[#FF4D00]" routerLink="/equipo" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
      <i-lucide class="w-[6em] h-[6em]" [img]="FileChartColumnIncreasing"></i-lucide>
      <p class="text-center font-semibold">Mis resultados</p>
    </a>

    <a class="bg-[#443737] p-6 rounded-lg flex flex-col items-center justify-center space-y-2 hover:bg-[#FF4D00] hover:border-[#FF4D00]" routerLink="/equipo" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
      <i-lucide class="w-[6em] h-[6em]" [img]="Users"></i-lucide>
      <p class="text-center font-semibold">Resultados grupo</p>
    </a>

  </div>
</div>
