<div class="bg-[#272121] text-white p-8 rounded-lg">
  <h1 class="text-3xl font-bold mb-2">Test de Fuerza</h1>
  <hr class="mt-2 mb-4 h-0.5 border-t-0 bg-neutral-100 dark:bg-white/10" />
  <!-- Información de la selección femenina -->
  <div class="bg-[#443737] p-4 rounded-lg flex justify-between items-center mb-6">
    <div>
      <h2 class="text-lg font-semibold">Selección femenina</h2>
    </div>
    <div class="flex space-x-8">
      <div>
        <p class="text-sm">Participantes</p>
        <p class="text-sm font-semibold">15</p>
      </div>
      <div>
        <p class="text-sm">Horario</p>
        <p class="text-sm font-semibold">L - M: 18:00-20:00</p>
      </div>
      <div>
        <p class="text-sm">Último entreno</p>
        <p class="text-sm font-semibold">24/01/2023</p>
      </div>
      <div>
        <p class="text-sm">Ranking</p>
        <p class="text-sm font-semibold">Usuario con mayores resultados</p>
      </div>
    </div>
  </div>
  <!-- Test seleccionado -->
  <div class="bg-[#FF4D00] text-white font-semibold py-2 px-4 rounded-lg mb-4 inline-block">
    Test de Fuerza
  </div>

  <!-- Tabla de participantes -->
  <div class="bg-[#443737] p-4 rounded-lg">
    <div class="grid grid-cols-3 gap-4 my-4 font-bold text-xl">
      <div>Participantes</div>
      <div>Dinanometría Presión MMSS</div>
      <div>Dinanometría Lumbar</div>
    </div>

    <!-- Datos de los participantes -->
    <div class="grid grid-cols-3 gap-4 mb-2">
      <div>Veronica</div>
      <div>resultados</div>
      <div>resultados</div>
    </div>
    <div class="grid grid-cols-3 gap-4 mb-2">
      <div>Claudia</div>
      <div>resultados</div>
      <div>resultados</div>
    </div>
  </div>

  <!-- Botones -->
  <div class="flex justify-between mt-4">
    <button class="bg-[#FF4D00] py-2 px-4 rounded-lg font-semibold">
      Guardar Datos
    </button>
  </div>
  <div class="flex justify-between mt-2">
    <button class="bg-[#FF4D00] py-2 px-4 rounded-lg font-semibold">
      Siguiente participante
    </button>
  </div>

</div>
