<div class="flex items-center justify-center bg-[#272121]">
  <div class="flex flex-col bg-[#272121] text-white p-6 w-full max-w-3xl">
    <h1 class="text-2xl font-bold my-2">Mis equipos</h1>
    <hr class="mt-2 mb-4 h-0.5 border-t-0 bg-neutral-100 dark:bg-white/10" />
    <div class="space-y-4">
      
      <ng-container *ngFor="let equipo of equipos">
        <!-- TODO: Usabr bien el routerLink -->
        <a class="bg-[#443737] p-4 rounded-lg flex justify-between items-center hover:bg-[#FF4D00] hover:border-[#FF4D00]" 
           routerLink="/equipo" 
           routerLinkActive="activebutton" 
           ariaCurrentWhenActive="page">
          <div>
            <h2 class="text-lg font-semibold">{{ equipo.nombre }}</h2>
            <p class="text-sm">Participantes: {{ equipo.participantes }}</p>
            <p class="text-sm">Horario: {{ equipo.horario }}</p>
          </div>
          <div>
            <p class="text-sm">Último entreno</p>
            <p class="text-sm font-semibold">{{ equipo.ultimo_entreno }}</p>
          </div>
        </a>
      </ng-container>
      
    </div>
  </div>
</div>
