<div class="flex flex-col h-screen bg-[#443737]">
  
  <button
    class="p-2 m-2 text-white bg-[#FF4D00] rounded self-start"
    (click)="isSidebarOpen = !isSidebarOpen">
    <i-lucide [img]="Menu"></i-lucide>
  </button>

  <div
    [ngClass]="{
      'w-[200px]': isSidebarOpen,
      'w-[60px]': !isSidebarOpen
    }"
    class="p-1 flex flex-col transition-all duration-300 m-auto">

    <ul class="pt-2 space-y-4">
      <li>
        <a
          class="flex items-center text-white font-sans normal-case p-2 pl-4 pr-4 rounded-md border border-transparent hover:bg-[#FF4D00] hover:border-[#FF4D00] hover:font-medium"
          routerLink="/inicio"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page">
          <i-lucide
            class="mr-2"
            [img]="User"></i-lucide>
          <p class="font-bold" *ngIf="isSidebarOpen">Perfil</p>
        </a>
      </li>
      <li>
        <a
          class="flex items-center text-white font-sans normal-case p-2 pl-4 pr-4 rounded-md border border-transparent hover:bg-[#FF4D00] hover:border-[#FF4D00] hover:font-medium"
          routerLink="/inicio"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page">
          <i-lucide
            class="mr-2"
            [img]="Users"></i-lucide>
          <p class="font-bold" *ngIf="isSidebarOpen">Grupos</p>
        </a>
      </li>
      <li>
        <a
          class="flex items-center text-white font-sans normal-case p-2 pl-4 pr-4 rounded-md border border-transparent hover:bg-[#FF4D00] hover:border-[#FF4D00] hover:font-medium"
          routerLink="/inicio"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page">
          <i-lucide
            class="mr-2"
            [img]="ChartColumnBig"></i-lucide>
          <p class="font-bold" *ngIf="isSidebarOpen">Estadísticas</p>
        </a>
      </li>
    </ul>
  </div>

</div>
