<div class="flex h-screen w-[200px] bg-[#443737] p-1">
  <div class="m-auto">
    <ul class="pt-2 space-y-4">
      <li>
        <a class="flex items-center text-white font-sans normal-case p-2 pl-4 pr-4 rounded-md border border-transparent hover:bg-[#FF4D00] hover:border-[#FF4D00] hover:font-medium" routerLink="/inicio" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
          <i-lucide class="mr-2" [img]="User"></i-lucide>
          <p class="font-bold">Perfil</p>
        </a>
      </li>
      <li>
        <a class="flex items-center text-white font-sans normal-case p-2 pl-4 pr-4 rounded-md border border-transparent hover:bg-[#FF4D00] hover:border-[#FF4D00] hover:font-medium" routerLink="/inicio" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
          <i-lucide class="mr-2" [img]="Users"></i-lucide>
          <p class="font-bold">Grupos</p>
        </a>
      </li>
      <li>
        <a class="flex items-center text-white font-sans normal-case p-2 pl-4 pr-4 rounded-md border border-transparent hover:bg-[#FF4D00] hover:border-[#FF4D00] hover:font-medium" routerLink="/inicio" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
          <i-lucide class="mr-2" [img]="ChartColumnBig"></i-lucide>
          <p class="font-bold">Estadisticas</p>
        </a>
      </li>
    </ul>
  </div>
</div>
